.header__chat {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.header-wrapper {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.chat-body {
  padding: 0;
  font-size: 15px;
  font-weight: 700;
}
.chat-body__background {
  background-image: url("chat-background.png");
}
.timestemp-chat__column {
  font-size: 10px;
  opacity: 0.5;
  margin-top: 30px;
  margin-left: 10px;
  justify-content: center;
}
.timestemp-chat {
  margin-top: 250px;
  width: 120px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #f4c4f3, #fc67fa);
  color: white;
  border-radius: 15px;
}
.chat__timestemp {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #f7f7f7;
}
.chatting {
  background-image: url("chat-background.png");
  min-height: 100vh;
  padding-top: 100px;
}
@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}
.chatting__avatarg-avatar {
  border-radius: 30px;
  animation: spin 1s linear infinite;
}
.chatting__column {
  display: flex;
  padding: 0px 20px;
}
.chatting-user__text {
  margin-left: 10px;
  width: 100%;
  height: 50px;
  display: flex;
}
.chatting-dalingName {
  font-weight: 700;
}
.chatting-dalingProfileText {
  display: flex;
  margin-top: 10px;
}
.chatting-dalingProfileText {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  width: 350px;
  height: 50px;
  background-color: white;
  color: whitesmoke;
}
.chatting-myProfileText {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 350px;
  height: 50px;
  background-color: white;
  border-bottom-right-radius: 0px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  background-image: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  color: whitesmoke;
}
.mychatting__column {
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
  padding: 0px 20px;
}
.mytimestemp-my__column {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 5px;
  opacity: 0.5;
}
.write__column {
  font-size: 20px;
  position: fixed;
  position: relative;
  display: flex;
  bottom: 0px;
  background-color: #fcfcfc;
  padding: 20px 60px;
  margin: 0 auto;
  margin-bottom: 20px;
  left: 0;
  right: 0;
  /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
}
.chat__write {
  width: 80%;
  border: 0px;
}
.chat__write :focus {
  outline: none;
}

.chat-left-icon {
  position: absolute;
  left: 20px;
}
.chat-right-icon {
  position: absolute;
  right: 20px;
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.chatting__column {
  animation: incomingAnimation 0.5s ease-in forwards;
}
@keyframes sendAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.mychatting__column {
  animation: sendAnimation 0.5s ease-in forwards;
}
