.nav {
  background-color: #fcfcfc;
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}
.nav__list {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

@keyframes shownavbar {
  from {
    transform: translatey(80px);
  }
  to {
    transform: none;
  }
}
.nav {
  animation: shownavbar 0.5s ease-in-out;
}
